<section class="section-home">
    <div class="row">
        <div class="col-md-6">
            <div class="main-content">
                <ul>
                    <li class="item item-active">Thanh toán đơn hàng</li>
                    <li class="item item-active">Gửi hàng</li>
                </ul>
                <div class="tracking">
                    <form>
                        <input type="text" class="tracking-input" />
                        <button type="submit" class="btn btn-tracking">Theo dõi</button>
                    </form>
                </div>
                <p class="help-text">Cần trợ giúp để thay đổi đơn hàng của bạn? <span>Trợ giúp</span></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img-wrapper">
                <img src="~/imgs/oto.png" class="home-img" />
            </div>
        </div>
    </div>
</section>